.header {
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  align-items: center;
  gap: 10px;
  padding: 92px 50px 92px 50px;
}

.header__links-list {
  font-size: 18px;
  display: flex;
  gap: 34px;
  list-style: circle;
}

.header__links-list-item {
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  font-size: 18px;
  white-space: nowrap;
}

.header__link_active {
  text-decoration: none;
  list-style: none;
}

.header__logo {
  display: block;
  justify-self: center;
  align-self: center;
  width: 134px;
}

.header__logo-image {
  width: 100%;
}

.address {
  font-style: normal;
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 24.3px;
}

.header__address {
  justify-self: end;
  margin-right: 38px;
}

.aligned-text_center {
  text-align: center;
  line-height: 1;
}

.aligned-text_right {
  text-align: right;
  line-height: 1;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.no-letter-spacing-extended {
  letter-spacing: 0.6em;
}

.no-letter-spacing {
  letter-spacing: 0em;
}
.cover {
  background-image: url(../images/cover.jpg);
  position: relative;
  background-position: center;
  background-size: cover;
  padding: 170px 50px 50px;
  width: 100%;
  min-height: 757px;
}
.cover_title {
  font-size: 100px;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 135px;
  line-height: 1.15;
  letter-spacing: 0.3em;
  row-gap: 26px;
  z-index: 1;
  color: #fff;
}

.cover__description {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  gap: 78px;
}

.cover__description-text {
  font-size: 22px;
  color: #fff;
  word-spacing: 18px;
  text-transform: uppercase;
}

.bet-button {
  font-family: Raleway, sans-serif;
  font-size: 22px;
  border: 1px solid #fff;
  color: #fff;
  padding: 12px 32px;
  font-weight: normal;
  text-transform: uppercase;
  background-color: transparent;
  line-height: 28.83px;
}

.aligined-text_left {
  text-align: left;
}

.aligined-text_center {
  text-align: center;
}

.aligined-text_right {
  text-align: right;
}

.aligined-text {
  display: block;
  line-height: 1;
}

.lots {
  padding: 177px 25px 174px 25px;
}

.lots__heading {
  font-weight: 700;
  font-size: 40px;
  padding: 0 0 27px 37px;
  text-transform: uppercase;
  color: #000;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 24px;
}

.lots__card-list-item {
  flex-grow: 1;
  width: 326px;
  min-height: 563px;
}

.card-link {
  height: 100%;
}

.card {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  font-weight: 400;
  font-size: 22px;
  position: relative;
  padding: 54px 35px 0 41px;
  color: #fff;
  line-height: 120%;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
  text-transform: uppercase;
  text-decoration-line: underline;
  z-index: 1;
}

.card__text {
  font-weight: 400;
  font-size: 20px;
  bottom: 0;
  z-index: 1;
  padding: 0 40px 46px 39px;
  line-height: 120%;
  color: #fff;
}

.card-link {
  text-decoration: none;
}

.lots__look-more-link {
  font-size: 20px;
  display: block;
  margin: 30px 0 0 40px;
  text-decoration-line: underline;
  text-underline-position: under;
}

.about {
  display: grid;
  width: 1052px;
  grid-template-columns: 382px 1fr;
  margin-top: 9px;
}

.about__column {
  display: flex;
  flex-direction: column;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
}

.about__logo-image {
  width: 148px;
}

.about__title {
  font-weight: bold;
  font-size: 40px;
  padding: 106px 0 104px;
  line-height: 1;
  text-transform: uppercase;
}

.about__text {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  gap: 17px;
  line-height: 24px;
  width: 689px;
  margin-top: -9px;
}

.footer {
  font-size: 18px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 90px 54px;
  margin-top: 95px;
}

.footer__menu {
  justify-self: center;
}

.footer__menu-list {
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.footer__menu-list-item {
  align-self: center;
}

.footer__menu-link {
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

.footer__menu-link_active {
  text-decoration: none;
  pointer-events: none;
}

.footer__social-list {
  display: flex;
  justify-content: end;
  column-gap: 46.5px;
  list-style-type: none;
}

.footer__social-link {
  display: flex;
  width: 48px;
}

.footer__social-icon {
  object-fit: contain;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-color: #000000;
}
